.content-r .content-r-fk{color:#565656 }
.content-r-hs{color:#c1c1c1}
.content-bottom{text-align:right;margin:36px 20px;font-size: 12px;}
.content-bottom a{display: inline-block;border: 1px  solid #8d8d8d;color:#8d8d8d;padding:9px;border-radius: 7px; }
.content-bottom span{color: #3e3e3e;}
.content-bottom a:hover{color: #ffffff;background: #ff7c8b;}
.content-r-sj{color:#c1c1c1}