@charset "utf-8";
body{
    /*margin:0 auto;*/
    margin: 0;
    padding: 0;
    width: 100%;
}
.wrap
{
    width: 960px;
    margin: 0 auto;
    color: #666;
}
.wrap h2
{
    text-align: center;
}
.baseInfo span
{
    padding-right: 30px;
}
.postContent
{
    margin-bottom: 20px;
}
.postContent span , .postHiddenText span
{
    font-weight:bold;
    height:30px;
    display:block;
}